 @media screen and (max-width: 632px) {


	.footer {
		/*height: 15%;*/
	}
	#googleSearch, #feelLucky {
		display: block;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 0.6em;
	}
	
	#footer li {
		clear: left;
	}

	#wrapper {
		margin: 4em 0 0 0;
	}

	.footer {
		margin-top: 50px;
		top: 530px;
	}

	#footerLeft li, #footerRight li {
		padding-bottom: 5px;
	}
}


